<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d56173">  <td>21/04/01 15:52:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonMobilePageTest.getsearchedText()[pri:0, instance:tests.AmazonMobilePageTest@4d41cee]">getsearchedText</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/04/01 15:52:44</td>   <td>-5478</td> <td>&nbsp;</td><td title="&gt;&gt;AmazonMobilePageTest.initialize()[pri:0, instance:tests.AmazonMobilePageTest@4d41cee]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/04/01 15:52:52</td>   <td>1997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonMobilePageTest.searchItems()[pri:0, instance:tests.AmazonMobilePageTest@4d41cee]">searchItems</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/04/01 15:52:53</td>   <td>3430</td> <td>&nbsp;</td><td title="&lt;&lt;AmazonMobilePageTest.teardown()[pri:0, instance:tests.AmazonMobilePageTest@4d41cee]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1253946629</td>   <td></td> </tr>
</table>
