<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8080bb">  <td>21/04/02 13:16:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonMobilePageTest.getsearchedText()[pri:0, instance:tests.AmazonMobilePageTest@2833cc44]">getsearchedText</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/04/02 13:16:18</td>   <td>-13802</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonHomePageTest.initialize()[pri:0, instance:tests.AmazonHomePageTest@3712b94]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>21/04/02 13:16:27</td>   <td>-5206</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonMobilePageTest.initialize()[pri:0, instance:tests.AmazonMobilePageTest@2833cc44]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>21/04/02 13:16:36</td>   <td>3833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonMobilePageTest.searchItems()[pri:0, instance:tests.AmazonMobilePageTest@2833cc44]">searchItems</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/04/02 13:16:27</td>   <td>-5421</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonHomePageTest.teardown()[pri:0, instance:tests.AmazonHomePageTest@3712b94]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>21/04/02 13:16:38</td>   <td>5433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonMobilePageTest.teardown()[pri:0, instance:tests.AmazonMobilePageTest@2833cc44]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/04/02 13:16:25</td>   <td>-7120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonHomePageTest.verifyMobileClick()[pri:0, instance:tests.AmazonHomePageTest@3712b94]">verifyMobileClick</td> 
  <td>main@1725017993</td>   <td></td> </tr>
</table>
